# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
client/dist/
server/dist/
.next/

# Env
.env
client/.env
server/.env

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Coverage
coverage/


